/**
*
*/

/* board variables */
:root
{
	/* default color theme */
	--light-color: #ccc;
	--dark-color: #378a24;
	--border-color: #000;

	/* size variables */
	--cell-size: 64px;
	--border-size: 25px;
	--board-size: 512px;
}

/* border wrapper setup */
.board_border 
{
	float: left;
	width: calc(--board-size + --border-size * 2); /* fix for border */
	height: calc(--board-size + --border-size * 2); /* i made the mistake of thinking var can be nested in calc */
	border: solid var(--border-color) var(--border-size);
}

/* actual board */
table#t01
{
	border-collapse: collapse;
}
table#t01 td
{
	width: var(--cell-size);
	height: var(--cell-size);
	padding: 0;
}
table#t01 tr:nth-child(odd) td:nth-child(even) { background: var(--dark-color); }
table#t01 tr:nth-child(even) td:nth-child(odd) { background: var(--dark-color); }
table#t01 tr:nth-child(even) td:nth-child(even) { background: var(--light-color); }
table#t01 tr:nth-child(odd) td:nth-child(odd) { background: var(--light-color); }
