/**
*
*/

/* board variables */
:root
{
	/* default color theme */
	--light-color: #ccc;
	--dark-color: #378a24;
	--border-color: #000;

	/* size variables */
	--cell-size: 64px;
	--border-size: 10px;
	--board-size: calc(var(--cell-size) * 8);
}

/* border wrapper setup */
.board_border 
{
	float: left;
	width: calc(var(--board-size) + var(--border-size) * 2); /* fix for border */
	height: calc(var(--board-size) + var(--border-size) * 2); /* don't know why it's working now but ok */
	border: solid var(--border-color) 0;
}

/* actual board */
table#t01
{
	border-collapse: collapse;
}
table#t01 td
{
	width: var(--cell-size);
	height: var(--cell-size);
	padding: 0;
}
table#t01 tr:nth-child(odd) td:nth-child(even) { background: var(--dark-color); }
table#t01 tr:nth-child(even) td:nth-child(odd) { background: var(--dark-color); }
table#t01 tr:nth-child(even) td:nth-child(even) { background: var(--light-color); }
table#t01 tr:nth-child(odd) td:nth-child(odd) { background: var(--light-color); }
