#toggle {
  cursor: pointer;
  color: #3fcf80;
  font-size: 30px;
  margin-left: 20px;
  background: transparent;
  border: none;
  padding: 10px;
  outline: none;
}

.navbar {
  background-color: #1D1E22;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 11;
  height: 3.3rem;
}

a,
.navbar-nav,
.navbar-light .nav-link {
  color: #3fcf80;
}

.navbar-nav:hover {
  color: white;
}


.navbar-brand {
  font-size: 1.4em;
  color: #3fcf80;
}

.navbar-brand:hover {
  color: white;
}

.form-center {
  position: absolute !important;
  left: 25%;
  right: 25%;
}

.sidenav {
  height: 100vh;
  padding-left: 0px;
  background-color: #1D1E22;
  opacity: 1;
  color: white;
  width: 230px;
  position: fixed;
  z-index: 200;
  left: -100%;
  animation: slide-open 0s forwards;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  float: top;
}

.sidenav.close {
  left: 0;
  animation: slide-closed 1.0s forwards;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 17px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.docsLink {
  position: absolute;
  bottom: 50px;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.code {
  background-color: gray;
  border-radius: 4px;
  width: 75%;
}

.welcome {
  margin-top: 16px;
}

code {
  color: white;
}

/* FORM */

.form label,
.form input {
  display: inline-block;
}

.form input {
  margin-bottom: 1rem;
}

.form label {
  margin-bottom: 0.2rem;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  background-color: white;
  font-size: 1.1rem;
}

.form input:focus {
  border: 1px solid #50a4e9;
  box-shadow: inset 0px 0px 5px rgba(38, 142, 228, 0.5);
  outline: none;
}

.form input[type="submit"] {
  padding: 0.3rem 0.5rem;
  border: 1px solid #6aa051;
  border-radius: 8px;
  background-color: #c8ecb7;
  font-size: 1.1rem;
}

/* ERROR */

.error-notice {
  margin: 1rem 0;
  padding: 0.2rem;
  border: 1px solid #e07c7c;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8d6d6;
  width: 100%;
}

.error-notice button {
  border-radius: 100%;
  background-color: #df4343;
  color: #ffffff;
}

/* SUCCESS */

.success-notice {
  margin: 1rem 0;
  padding: 0.2rem;
  border: 1px solid #88e07c;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d9f8d6;
  width: 100%;
}

.success-notice button {
  border-radius: 100%;
  background-color: #55df43;
  color: #ffffff;
}

@keyframes slide-open {
  100% {
    left: 0
  }
}

@keyframes slide-closed {
  100% {
    left: -100%
  }
}